body, html{
	color: white;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

main{
	padding: 260px 13% 0;
}


.background-img{
	position: fixed;
	z-index: -2;
	max-width: 100%;
	min-height: 100%;
}
.gradient-bg{
	position: absolute;
	width: 100%;
	height: 2350px;
	z-index: -1;
	background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,1));
	background-size: cover;
}

h1{
	font-size: 64px;
	margin: 0px;
}

h2{
	font-size: 33px;
	margin-top: 0;
}

p{
	margin-bottom: 0;
}

a:visited{
	color: white;
}

li{
	display: inline;
	margin: 0;

}

ul{
	padding: 0;
}




.logo{
	min-width: 115px;
	width:10%;
	margin-bottom: 33px;
}

.header-text{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}

.nav{
	display: inline;
	float: right;
	margin: 0;
}



/* portfolio items */

.portfolio{
	margin: 55px 0 100px;
	color: black;
	background-color: white;
	padding: 100px 10%;
}

.projects{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.project{
	width: 30%;
	min-width: 300px;

}

.project img{
	width: 100%;
}



/* team items */

.team{
	margin-top: 55px;
	color: black;
	background-color: white;
	padding: 100px 10%;
}

.team-mates{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.team-mate{
	width: 30%;
	min-width: 250px;
}

.team-mate img{
	width: 100%;
}


footer{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
	margin-top: 60px;
	margin-bottom: 75px;
}

